
    body {
        font: 14px Arial,sans-serif; 
        margin: 0px;
    }
    
    .container {
        width: 100%;
        background: #ffffff;  
    }
    
    /* START - Main --------------------------------------------------------------------------------------------------------------------- */
    
    .posImg { 
        position: fixed;
        float: center;
        left: 3vh;
        top: 3vh;
      }
      
    .box1 { 
        display: inline-block;
        opacity: 1; /*Opacity untuk 1 element = Img & Canvas*/

        transform-origin: 0% 0% 0px;
      }
      
      
    .imgElement {
        position: absolute;
        left: 0 px;
        top: 0 px;
        
        pointer-events: none;
        opacity: 1; /*Opacity untuk Img diatas Canvas*/ 
        z-index: -1; /*paling bawah + Ponter di nonaktifkan*/

        /*transform: scale(0.74);*/
        transform-origin: 0% 0% 0px;
      }


    /*untuk yg img di kosongin ajh - sepertinya cukup*/
      

    /* ------------------------------------------------------------------------------------------------ */
    


    /* Posisi dari frameNumber ----------------- */
    .frameNumberClass{
        margin-top: 50vh;
    }
    /* ----------------------------------------- */



    /* ------------------------------------------------------------------------ */
    
    .posisi-isi-content {
        margin-top: 0px;
        margin-bottom: 0px; 
        height: auto;  
        text-align: center;
    } 
    
    .posisi-isi-content-atas {
        margin-top: 0px;
        margin-bottom: 0px;
        height: auto;  
        text-align: left;
    } 
    
    /* --------------------------------------------------------------------------------------------------------------------- */
    
    .content-tengah {  /* dieksekusi kedua [2] */
        position:fixed;
        top: 0px;
        height: 100%; 
        width: 100%;
    }

    .content-bawah {  /* dieksekusi Ketiga [3] */
        padding-top: 1px; /* supaya menghilangkan garis putih */
        height: 835px;    /* 200px + 435px */
    }
    
    /* ------------------------------------------------------------------------------------------------ */
    
    .col-left{       /* dibelakang contentnya {1} */
        float: left;
        width: 60%;
        height: 100%; /* 100% horizontal dari ukuran didalam <tag> */
        background-color: #c9c9c9;
    }
    
    .col-right{       /* dibelakang contentnya {1} */
        float: right;
        width: 40%;
        height: 100%; /* 100% horizontal dari ukuran didalam <tag> */
        background-color: #c9c9c9;
    }

    /* ------------------------------------------------------------------------------------------------ */

    .margin-content-tengah-left-padding {       /* isi contentnya {2} */
        margin: 5px;
        height: 93vh; /* 65% horizontal dari ukuran didalam <tag> */ /* 90vh */

        background-color: #ececec; /*alat bantu penanda */

        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .margin-content-tengah-right-padding {       /* isi contentnya {2} */
        margin: 5px;
        height: 93vh; /* 65% dari ukuran didalam <tag> */  /* jika height/widht = auto maka -> ukuran mengikuti -> content didalamnya  */ 

        background-color: #ececec; /*alat bantu penanda */

        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* END - Main --------------------------------------------------------------------------------------------------------------------- */
    




    /* START - Footer --------------------------------------------------------------------------------------------------------------------- */
    
    .cR-bawah {  /* mengatur <div> ke <section> [1] */ 
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    /* ------------------------------------------------------------------------ */
    
    .copyRight{  /* mengatur <section> ke <p> [2] */
        float: center;
        width: 100%;
        text-align: center;
        border: 3px solid #c9c9c9;
    }

    .crLeft{
        float: left;
        background-color: #d9fdd4;
        width: 90%;
        height: 100%;
    }

    .crRight{
        float: right;
        background-color: #d9fdd4;
        width: 10%;
        height: 100%;
    }

    /* ------------------------------------------------------------------------ */
    
    /* End - Footer --------------------------------------------------------------------------------------------------------------------- */
    
