
    body {
        font: 14px Arial,sans-serif; 
        margin: 0px;
    }
    
    .container {
        width: 100%;
        background: #f2f2f2;  
    }
    
    /* ------------------------------------------------------------------------------------------------ */

    .posCanvas { 
        position: fixed;   /*mendekati = fixed[V] ,absolute[X] */
        float: center;
        left: 3vh;
        top: 3vh;
        
        /*transform: scale(1.1);*/

        /* border: 2px solid black; */
      }
      
      .box1 { 
        display: inline-block;
        /* background: url("http://localhost/0.Software-Serabutan/20-Struk-App/Uji4App/canvasTamplate.png");  /*membuat didalam element ada BG*/
        /* background-size: cover; */
        
        opacity: 1; /*Opacity untuk 1 element = Img & Canvas*/
        
        /* transform: scale(0.25);*/
        transform-origin: 0% 0% 0px;
      }
      
      
      .imgElement {
        position: absolute;
        left: 0 px;
        top: 0 px;
        
        pointer-events: none;
        opacity: 1; /*Opacity untuk Img diatas Canvas*/ 
        z-index: -1; /*paling bawah + Ponter di nonaktifkan*/

        /*transform: scale(0.74);*/
        transform-origin: 0% 0% 0px;
      }
      
      
      .canvasClass {
        background: transparent;
        
        opacity: 1;  /*tempat gambar*/  /*bagaimana caranya biar bisanjeplak pling atas = pointer di nonActive di img*/
        
        z-index: 1; /*paling atas*/
        /*transform: scale(3);*/
        transform-origin: 0% 0% 0px;
      }
          
    /* ------------------------------------------------------------------------------------------------ */
    
    /* ----------------- */
    .frameNumberClass{
        margin-top: 50vh;
    }
    /* ----------------- */


    /* ------------------------------------------------------------------------ [x] */
    
    .posisi-isi-content {
        margin-top: 0px;
        margin-bottom: 0px; 
        height: auto;  
        text-align: center;
    } 
    
    .posisi-isi-content-atas {
        margin-top: 0px;
        margin-bottom: 0px;
        height: auto;  
        text-align: left;
    } 
    
    /* --------------------------------------------------------------------------------------------------------------------- */
    
    /* cara kerja TAG menyelesaikan height TAG yg paling atas dulu */
    
    .content-tengah {  /* dieksekusi kedua [2] */
        position:fixed;
        /* bottom: 10px; */
        top: 0px;
        height: 100%;   /* https://stackoverflow.com/questions/1575141/how-to-make-a-div-100-height-of-the-browser-window  100%!=100vh */
        /* 435px */
        width: 100%;
        background-color: #fffb00; /*alat bantu penanda [Lokasi]*/
        border: 3px solid black;
    }
    /* karena beda tag maka muncul kesenjangan antara  <main><div class="content-tengah"></div></main>  dengan  <footer><div class="content-bawah"></div></footer>  */
    
    .content-bawah {  /* dieksekusi Ketiga [3] */
        padding-top: 1px; /* supaya menghilangkan garis putih */
        height: 835px;    /* 200px + 435px */
        background-color: #48ff00; /*alat bantu penanda [Lokasi]*/
        border: 3px dashed black;
    }
    
    /* ------------------------------------------------------------------------------------------------ */
    
    .col-left{       /* dibelakang contentnya {1} */
        float: left;
        width: 60%;
        height: 100%; /* 100% horizontal dari ukuran didalam <tag> */
        background-color: #ffad7e;
    }
    
    .col-right{       /* dibelakang contentnya {1} */
        float: right;
        width: 40%;
        height: 100%; /* 100% horizontal dari ukuran didalam <tag> */
        background-color: #e3ff7e;
    }

    /* ------------------------------------------------------------------------------------------------ */

    .margin-content-tengah-left-padding {       /* isi contentnya {2} */
        margin: 5px;
        height: 93vh; /* 65% horizontal dari ukuran didalam <tag> */ /* 90vh */

        background-color: #ececec; /*alat bantu penanda */

        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        /* padding-bottom: 20px; */   /* tanpa garis pinggir bawah */
    }

    .margin-content-tengah-right-padding {       /* isi contentnya {2} */
        margin: 5px;
        height: 93vh; /* 65% dari ukuran didalam <tag> */  /* jika height/widht = auto maka -> ukuran mengikuti -> content didalamnya  */ 

        background-color: #ececec; /*alat bantu penanda */

        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        /* padding-bottom: 20px; */   /* tanpa garis pinggir bawah */
    }
    
    /* --------------------------------------------------------------------------------------------------------------------- */
    
    .cR-bawah {  /* mengatur <div> ke <section> [1] */ 
        overflow: hidden;
        background-color: #333; /*alat bantu penanda*/
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    /* ------------------------------------------------------------------------ */
    
    .copyRight{  /* mengatur <section> ke <p> [2] */
        float: center;
        width: 100%;
        /*background-color: #cde1ff;*/
        text-align: center;
        
        /*
        margin-top: -15px;
        margin-bottom: -15px;
        */
    }

    .crLeft{
        float: left;
        background-color: #d9fdd4;
        width: 90%;
        height: 100%;
    }

    .crRight{
        float: right;
        background-color: #d9fdd4;
        width: 10%;
        height: 100%;
    }

    /* ------------------------------------------------------------------------ */
    

